spring.application.name=bigAnimals-api

# PostgreSQL database connection
spring.datasource.url=jdbc:postgresql://ep-summer-hill-ad0fdvon-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
spring.datasource.username=neondb_owner
spring.datasource.password=npg_I6hEy4lvBCjk

spring.jpa.hibernate.ddl-auto=update

logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
logging.level.org.hibernate.orm.jdbc.bind=TRACE
